

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Georgia';
}


/* HEADER MENU */

/* HEADER DESKTOP*/

.desktop.menu.top {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 180px;
  margin: 0;
  top: 0;
  z-index: 25;
}

.desktop.menu.top .row {
  margin: 0;
}

.desktop.menu.top .col-4, .desktop.menu.top .col-8 {
  padding: 0;
}

/*LOGO*/

.contenedor-logo {
  max-width: 130px;
  margin-top: 10px;
  margin-left: 30px;
}

.contenedor-logo img {
  max-width: 100%;
}



/*ENLACES*/

.desktop.menu ul {
  list-style: none;
  text-align: right;
  margin-right: 50px;
  margin-bottom: 0;
}


.desktop.menu .lang-menu {
  margin-top: 30px;
}

.desktop.menu .lang-link {
  display: inline;
  margin: 0 2px;
}

.desktop.menu .lang-link:last-child {
  margin-right: 20px;
}

.desktop.menu .lang-link a {
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
}

.desktop.menu .menu {
  margin-top: 5px;
}

.desktop.menu .menu-link {
  display: inline;
  margin: 0 20px;
}

.desktop.menu .menu-link a {
  color: white;
  text-transform: uppercase;
  font-size: 1.1em;
  text-shadow: 1px 1px #0006;
}

/* STICKY HEADER */



.desktop.menu.sticky {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 66px;
  margin: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  transition: 0.5s transform cubic-bezier(0.1, 0.7, 1.0, 0.1);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(111, 111, 111, 0.47);
  -moz-box-shadow: 0px 0px 15px 0px rgba(111, 111, 111, 0.47);
  box-shadow: 0px 0px 15px 0px rgba(111, 111, 111, 0.47);
  display: none;
}

.desktop.menu.sticky .contenedor-logo {
  max-width: 100px;
}

.desktop.menu.sticky .lang-menu {
  margin-top: 6px;
}

.desktop.menu.sticky .menu {
  margin-top: 2px;
}

 .desktop.menu.sticky .menu-link a {
  color: black;
  text-shadow: 1px 1px #b0b0b073;
}

.desktop.menu.sticky .lang-link a {
  color: black;
}

/*MOBILE MENU*/

.mobile.menu.top {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 66px;
  margin: 0;
  top: 0;
  z-index: 200;
  background-color: white;
}


/* CONTENEDOR PRINCIPAL */

section .row {
    margin: 0;
  }


.centro {
  text-align: center;
}


.contenedor-principal {
  position: relative;
  z-index: 20;
  margin-bottom: 300px;
  -webkit-box-shadow: 0px 3px 15px 1px rgb(111, 111, 111);
  -moz-box-shadow: 0px 3px 15px 1px rgb(111, 111, 111);
  box-shadow: 0px 3px 15px 1px rgb(111, 111, 111);
}


/* SLIDER */


.slider .row {
  position: absolute;
  z-index: 25;
  width: 100%;
  top: 35%;
}

.slider .row h1 {
  font-size: 4em;
  font-family: 'Georgia';
  color: white;
  text-shadow: 1px 1px #0006;
}

.slider .row p {
  color: white;
  font-size: 2em;
  font-style: italic;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  max-height: 650px;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.cartas-portada {
  position: absolute;
  bottom: 0;
  z-index: 20;
  right: 0;
  opacity: 0.5;
}

.capa-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background-image: url('../images/mancha-de-tinta-clara.png');
  background-color: #2d263e;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
}

/*.capa-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 20;
  background-image: url('../images/madera-cortado.jpg');
  background-size: cover;
  background-repeat: repeat;
  opacity: 0.6;
}
*/

.slider .contenedor-boton {
  padding-top: 45px;
}

.boton {
  cursor: pointer;
}

.boton.portada-2 {
  display: none;
}

.boton.portada-2 a {
  font-size: 1.3em;
}

/*ELEMENTOS DEL FONDO*/


.solapa.superior.blanco {
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 130px;
  background-image: url('../images/solapa-superior-1.png');
  z-index: 100;
  background-size: cover;
  background-repeat: no-repeat;
}

.solapa.inferior.blanco {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 110px;
  background-image: url('../images/solapa-inferior-1.png');
  z-index: 100;
  background-size: cover;
  background-repeat: no-repeat;
}

.solapa.superior.azul {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 120px;
  background-image: url('../images/solapa-superior-2.png');
  z-index: 100;
  background-size: cover;
  background-repeat: no-repeat;
}

.solapa.inferior.azul {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 110px;
  background-image: url('../images/solapa-inferior-2.png');
  z-index: 100;
  background-size: cover;
  background-repeat: no-repeat;
}

.solapa.superior.textura {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 80px;
  /*background-image: url('../images/corte-azul.png');*/
  background-image: url('../images/corte-azul-2.png');
  z-index: 100;
  background-size: 100%;
  background-repeat: no-repeat;
}


.kendo.intro, .kendo.saber-mas, .iaido.intro, .iaido.saber-mas, .mapa.intro, .listado, .listado-de-dojos {
  background-image: url('../images/madera-cortado.jpg');
  background-size: cover;
  background-repeat: repeat;
}

.kendo.video, .iaido.video, .juego, .slider, .mapa.frame{
  position: relative;
}

.kendo.video {
  /*max-height: 650px;*/
}

.kendo.video .row {
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 40%;
}

.caja-video {
  position: relative;
  width: 100%;
  display: block;
  height: auto;
}

.caja-video img{
  width: 100%;
  height:auto;
}

.caja-texto {
  padding: 125px 0;
  color: white;
}

.juego, .formulario, .copyright {
  /*background-image: url('../images/textura-azul.jpg');*/
  background-color: #2d263e;
  background-size: cover;
  background-repeat: no-repeat;
}

.juego.intro p {
  color: white;
}

section .contenedor-texto {
  margin-top: 50px;
  font-size: 1.1em;
}

.kendo.intro .contenedor-boton {
  padding-top: 50px;
}


/*.contenedor-titulo {
  position: relative;
  width: 100%;
  margin: auto;
  text-align: center;
}*/

.contenedor-titulo img{
  position: relative;
}

/*.contenedor-titulo .subtitulo {
  position: absolute;
  bottom: 52px;
  left: 12%;
  font-size: 40px;
  letter-spacing: 0.5px;
  right: 12%;
}*/

section .contenedor-titulo {
  position: relative;
  width: 100%;
  margin-left: 0;
}

section .contenedor-titulo .subtitulo {
  position: absolute;
  bottom: 52px;
  font-size: 40px;
  letter-spacing: 0.5px;
}

.kendo.intro .contenedor-titulo {
  margin-top: 50px;
}

.kendo.intro .contenedor-boton {
  padding-top: 45px;
}

.kendo.saber-mas {
  padding-top: 75px;
  position: relative;
}

.kendo.saber-mas .col-sm-6:first-child {
  background-image: url('../images/fondo-texto.png');
  background-repeat: no-repeat;
}

.kendo.saber-mas .contenedor-texto:first-child {
  margin-top: 0px;
}

.kendo.saber-mas .contenedor-texto {
  padding-right: 30px;
}

.kendo.saber-mas .contenedor-imagen {
  margin-bottom: 50px;
}

.kendo.saber-mas .contenedor-boton {
  margin-top: 25px;
  margin-bottom: 125px;
}


.iaido.intro .contenedor-titulo {
  padding-top: 75px;
}

.iaido.intro .contenedor-boton {
  padding-top: 45px;
}


.iaido.saber-mas {
  padding-top: 75px;
  position: relative;
}

.iaido.saber-mas .col-sm-6:nth-child(2) {
  background-image: url('../images/fondo-texto.png');
  background-repeat: no-repeat;
}

.iaido.saber-mas .contenedor-texto:first-child {
  margin-top: 0px;
}

.iaido.saber-mas .contenedor-texto {
  padding-left: 30px;
  text-align: right;
}

.iaido.saber-mas .contenedor-imagen {
  margin-bottom: 50px;
}

.iaido.saber-mas .contenedor-boton {
  margin-top: 25px;
}

.iaido.video .row {
  position: absolute;
  z-index: 20;
  width: 100%;
  top: 40%;
}

.juego.intro{
  background-image: url('../images/mancha-de-tinta.png');
  background-color: #2d263e;
  background-size: cover;
  background-repeat: no-repeat;
}


.juego.intro .contenedor-titulo {
  margin-top: 50px;
  position: relative;
  width: 100%;
  margin-left: 0;
  text-align: right;
}

.juego.intro .contenedor-titulo .subtitulo {
  position: absolute;
  bottom: 52px;
  font-size: 40px;
  letter-spacing: 0.5px;
  color: white;
  right: 0;
}

.juego.intro .contenedor-texto {
  text-align: right;
  padding-left: 25%;
}

section .botonera {
  padding-top: 80px;
  padding-bottom: 80px;
}

section .botonera .contenedor-boton {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0;
}

section .botonera .contenedor-boton .boton {
  display: inline-block;
  width: 33.3%;
}

.juego.contenido {
  padding-top: 50px;
  padding-bottom: 100px;
  color: white;
}

.juego.contenido .row {
  padding-bottom: 100px;
}



/*.contenedor-titulo {
  text-align: center;
  max-width: 335px;
  margin: auto;
  padding: 145px 0px 53px;
  background-image: url('../images/kendo-enso-positivo.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.contenedor-titulo .subtitulo{
  position: absolute;
  bottom: 0;

}

*/

.boton {
  max-width: 300px;
  margin: auto;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  padding: 15px 0;
  position: relative;
}

.fondo-boton {
  width: 100%;
  position: absolute;
  height: 100%;
  background-image: url('../images/fondo-botones.png');
  background-size: 100%;
  background-position: center;
  top: 0;
  z-index: 0;
}

.boton a {
  font-size: 1.5em;
  font-family: 'Georgia';
  color: black;
  position: relative;
  z-index: 1;
}

.boton:hover .fondo-boton {
  opacity: 0.5;
}

.campos-ocultos {
  display: none;
}

.oculto {
  display: none;
}

.listado .contenedor-boton {
  padding-bottom: 75px;
  padding-top: 50px;
}

.listado-de-dojos {
  position: relative;
  height: 100% !important;
}

.listado-dojos {
  list-style-image: url('../images/kendo-icon.png');
  font-size: 1.3em;
  padding-bottom: 50px;
}




.formulario {
  background-image: url('../images/mancha-de-tinta-2.png');
  background-color: #2d263e;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 32%;
}

.formulario .col-12 {
  padding:0;
}

.formulario p {
  color: white;
  text-align: center;
}


.formulario .contenedor-titulo {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 400px;
  margin-top: 100px;
  text-align: center;
}

.formulario .contenedor-titulo .subtitulo {
  position: absolute;
  bottom: 52px;
  font-size: 40px;
  letter-spacing: 0.5px;
  left: 120px;
  color: white;
}

.form-contacto {
  margin: 80px 0;
}


.form-contacto .col-12, .form-contacto .col-sm-6 {
  padding:0;
}

.form-contacto .caja-formulario.nombre input,
.form-contacto .caja-formulario.email input,
.form-contacto .caja-formulario.mensaje input
 {
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  background-image: url('../images/fondo-botones.png');
  background-size: 100%;
  padding: 15px 0 15px 40px;
  font-size: 1.5em;
  font-family: 'Georgia';
  color: black;
  position: relative;
  z-index: 1;
}


.form-contacto .caja-formulario {
  max-width: 100%;
  color: white;
  margin-top: 10px;
}

.form-contacto .caja-formulario.nombre {
  padding-right:30px;
}

.form-contacto .caja-formulario.email {
  padding-left:30px;
}

.form-contacto .caja-formulario.mensaje {
  max-width: 100%;
  margin-top: 35px;
}

.form-contacto .caja-formulario-boton {
  padding-bottom: 75px;
  padding-top: 50px;
  text-align: center;
}

.form-contacto .input-submit {
  max-width: 300px;
  margin: auto;
  border: 2px solid black;
  border-radius: 3px;
  background-image: url('../images/fondo-botones.png');
  padding: 15px 0;
  position: relative;
  font-size: 1.5em;
  font-family: 'Georgia';
  color: black;
  position: relative;
  z-index: 1;
  width: 100%;
}


/*FOOTER*/


footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url('../images/footer-fondo.png');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 50% bottom;
}



footer .logo-footer {
  max-width: 140px;
  margin: auto;
}

footer .logo-footer img {
  max-width: 100%;
}

footer .caja-icono.der {
  text-align: left;
}

footer .caja-icono.izq {
  text-align: right;
}

footer .caja-icono.izq img {
  max-width: 30px;
  margin-right: 0px;
}

footer .caja-icono.der img {
  max-width: 35px;
  margin-left: 0px;
}

.iconos-redes {
  max-width: 200px;
  margin: auto;
  padding-bottom: 50px;
}

footer .copyright {
  color: white;
  text-align: center;
}

footer .copyright p {
  margin: 10px 0;
  font-size: 0.8em;
}

@media all and (min-width: 768px) {
  section .row {
    padding: 0 12%;
  }
  section .sin-margen-izq {
  padding-left: 0;
  padding-top: 75px;
}
  section .full, section .row .estructura-formulario {
    padding: 0;
  }

}

@media all and (min-width: 960px) {

  .mobile.menu.top {
    display: none;
  }
}



@media all and (max-width: 960px) {

  .desktop.menu.top {
    display: none;
  }

  .mobile.menu.top {
    display: block;
  }

  .slider .row {
    top: 25%;
  }

  .slider .row h1 {
  font-size: 50px;
  }

  .slider .row p {
  font-size: 25px;
}

.boton a {
  font-size: 20px;

}

}

@media all and (max-width: 845px) {

  .slider .contenedor-boton {
    
  }
  .solapa.inferior.blanco {
  
  }
}

@media all and (max-width: 768px) {
  section .row {
  padding: 0 6%;
}
  .slider .contenedor-boton {
    padding-top: 10px;
  }
  .slider .row {
    padding: 0 12%;
  }

  .slider .row h1 {
  text-align: center;
}

.slider .row p {
  text-align: center;
}

.kendo.saber-mas .contenedor-imagen {
  max-width: 310px;
}

.kendo.saber-mas .contenedor-imagen img {
  max-width: 100%;
}

}

